svg {
    margin: auto;
    padding: 45px 25px;;
    display: flex;
    justify-content: center;
    height: 1350px;
    width: 1350px;
}

path {
    pointer-events: all;
  }

path:hover {
    opacity: 0.7;
    cursor: pointer;
  }

/* path {
  fill: #ccc;
  stroke: #fff;
  stroke-linejoin: round;
}

path:hover {
	fill-opacity: .7;
} */