.footer {
  nav: center;
  text-align: center;
  width: 100%;
  position: center;
  background: rgb(51, 51, 51);
  padding: 40px 0;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  column:3;

}
