.footer {
  text-align: center;
  width: 100%;
  position: center;
  background: #D5CFDB;
  padding: 10px 15px;;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}

<h6>{
  text-align: center;
  width: 100%;
  position: center;
  background: #D5CFDB;
  padding: 10px 15px;;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;




}