.footer {
<<<<<<< HEAD
=======
  
>>>>>>> bceba61073ebe1ada50297a0da99a7334c22ad05
  text-align: center;
  width: 100%;
  position: center;
  background: rgb(51, 51, 51);
  padding: 40px 0;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD

=======
  
>>>>>>> bceba61073ebe1ada50297a0da99a7334c22ad05

}
