.footer {
  text-align: center;
  width: 100%;
  display: grid;
  justify-content: center;
  background: #341C54;
  padding: 15px;
  color: rgb(255, 255, 255);
  margin: auto;
}

h5 {
  text-align: center;
  display: grid;
  justify-content: left;
  padding: 15px;
  margin: auto;
  color: #D5CFDB;
}
