  
  .jumbotron {
    height: 220px;
    text-align: center;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  #colorselector {
    margin-left: 550px;
    margin-top: 20px;
  
  }
