.font{
    font-family: 'Barlow', sans-serif;
    color: 'white';
}

.mainbkg{
    color: #341C54!important;
}

.secondary{
    color: #e86a73
}

.background{
    color: #D5CFDB
}

.accent {
    color: #386a73
}