.document{
    font-family: 'Barlow', sans-serif;
}

.primary{
    color: #341C54;
}

.secondary{
    color: #e86a73
}

.background{
    color: #D5CFDB
}

.accent {
    color: #386a73
}

#mainBtn {
    background-color: #341C54;
    color: white;
    margin: auto;
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
  }